@charset "utf-8";
/* CSS Document */

/*------------------------------------------

Table Of Index
------------------
1. Base css
2. Header css
3. Services css
4. Price css
5. About css
6. Call to Action css
7. Text css
8. Counter css
9. Testimonials Css
10. Footer css
11. Modal Window css
12. Media Screen

------------------------------------------*/

/*********************************************
		Base css
*********************************************/

* {
    margin: 0;
    padding: 0;
}

:root {
  --text-color: #15171d;
  --span-color: #ca5718;
}

body {
    color: var(--text-color);
    background-color: #F4ECDF;
	line-height: 1.5;
    font-size: 1rem;

}

a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
 
 a {
	 color: fefefe;
 }

section {
padding-top:50px;
}

/*********************************************
		Header css
*********************************************/

header {
	height: 98vh;
	overflow: hidden;
	position: relative;
	margin:1vh;
}

header h1 {
    padding-top: 15%;
    padding-left:2%;
    font-size: 8vw;
	color: #F4ECDF;
	font-family: 'Kommuna-Narrow';
    font-weight: 400;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 1px;
    white-space: nowrap;
}

.mleft {
    padding-left:10%;
    padding-right:25%;
    white-space: nowrap;
}

header h2 {
    margin-top: -14%;
    margin-left:70%;
    font-size: 4vw;
	color: #F4ECDF;
	font-family: 'Gogol';
    white-space: nowrap;
}

.bg_img {
    background-image:url(../images/headimage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.flag {
	width: 25px;
	margin-left: 5px;
	margin-right: 5px;
}

.navbar {
    margin-top:2px;
    margin-left:2px;
    width: 40vw;
	height: 45px;
    border-radius: 100px;
    background: #F4ECDF1F;
    backdrop-filter: blur(28px);
}

.nav-link {
    white-space: nowrap;
	font-size: 1.3rem;
}

#navigation-menu a.mPS2id-highlight {
    background-color: rgba(255, 255, 255, 0.1);
    color: #F4ECDF;
}

.navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link {
    background-color: rgba(255, 255, 255, 0);
    color: #F4ECDF;
}

.span-custom {
margin:-10;
}

.btn.dropdown-toggle,
.top-nav-collapse {
    background-color: #1C2331!important;
}

.ceneter_{
  height:70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_custom {
    width:300px;
    border-radius: 100px;
    background: #F4ECDFE5;
    backdrop-filter: blur(31.299999237060547px)

}

a {
    text-decoration: none!important;
	color: #F4ECDF;
}

.cta-btn:hover {
    background-color: transparent!important;
    color: #f7f3f3;
    border-color: #f7f3f3;
    transition: all 0.8s linear;
}

.space {
	padding: 1rem 1rem 1rem;
}
/*********************************************
		About me css
*********************************************/
.row_bg {
padding:15px;

}

h2.aboutme {
	font-family: 'Kommuna-Narrow';
    font-size: 5rem;
    color: #8E9073;
    white-space: nowrap;
    padding-left: 100px;
    margin-top:0px;

}

.name {
    font-size: 3.5rem;
     font-weight: bold;
	color: #F4ECDF;
	font-family: 'Gogol';
    white-space: nowrap;
    padding:3px;
    text-align:center;
}

.photoname {
    height:80vh;
    background-image:url(../images/yulia.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 45px;
}


p.aboutme {
    margin-top:50px;
    padding-right:50px;
    font-family: 'Cygre';
    font-size: 1.7rem;
    color: #3C2808;
    line-height: 34px;

}

.right_{
text-align: right;
    padding-left:50px;
        padding-top:70px;
}

.bookmark {
    background-image:url(../images/bookmark.png);
    background-repeat: no-repeat;
    background-position: 0px 22px;
}

.button_ {
    width: 300;
    height: 52;
    border-radius: 20px;
    background: #8E9073;
    backdrop-filter: blur(30px)
    font-family: 'Cygre';
    font-size: 20px;
    color: #F4ECDF;
    margin: 5px;
}

.button_contact {
    width: 300;
    height: 52;
    border-radius: 20px;
    background: #F4ECDF;
    backdrop-filter: blur(30px)
    font-family: 'Cygre';
    font-size: 20px;
    color: #3C2808;
    margin: 5px;

}

h2.photo {
	font-family: 'Kommuna-Narrow';
    font-size: 8rem;
    color: #3C2808;
    white-space: nowrap;
    margin-top:0px;
    text-align:center;
}



















h4.services_h {
    color: var(--span-color);
	font-weight: bold!important;
	text-align: center;
	margin-bottom: 1.5rem
}

.card .card-body .card-text {
    font-size: 1rem;
    color: #111010;
    font-weight: 400;
}

.testimonial-card .card-up {
    overflow: hidden;
    height: 120px;
    -webkit-border-top-left-radius: .25rem;
    border-top-left-radius: .25rem;
    -webkit-border-top-right-radius: .25rem;
    border-top-right-radius: .25rem;
}

.testimonial-card .avatar {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 120px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
}

ul,
ul.servicesLinks {
    list-style: none;
}

.servicesLinks li {
    position: relative;
    padding-left: 28px;
}

.servicesLinks li:before {
    content: "\27A5";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    color: var(--span-color);
}


/* Carusel */

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    font-size: 2.1rem;
    color: #343A40;
    background: #b7c6c9;
    width: 40px;
    height: 40px;
    top: 26px;
    line-height: 1;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    background: var(--span-color);
    transition: background 1s, color 1s;
    color: #fafafa;
}

.owl-theme .owl-nav {
    position: absolute;
    top: -4%;
    left: 50%;
    margin-left: -50px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: rgba(134, 151, 145, 0);
    color: var(--span-color);
    text-decoration: none;
}

button:focus {
    outline: 0px auto -webkit-focus-ring-color;
}

.owl-theme .owl-dots .owl-dot.active {
    display: inline-block;
    zoom: 1.1;
    transition: zoom 1s;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--span-color);
    transition: background 1s;
}

.owl-theme .owl-dots {
    margin-top: 30px;
}

.owl-carousel .owl-stage-outer {
    margin-top: 20px;
}

/*********************************************
		About css
*********************************************/

.about-text {
    color: var(--span-color);
}

/*********************************************
		Testimonials css
*********************************************/

.testimonial-carousel .carousel-control.left:before {
    content: "\2039";
}

.testimonial-carousel .carousel-control.right:before {
    content: "\203a";
}

.testimonial-carousel .testimonial {
    margin-right: 23%;
    margin-left: 23%;
}

.testimonial-carousel .carousel-control:before {
    font-size: 5rem;
    color: rgba(0, 0, 0, .6);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.testimonial-carousel .carousel-control.left {
    left: 6%;
}

.testimonial-carousel .carousel-control {
    background-image: none;
    top: 50%;
    -webkit-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    transform: translateY(-35%);
}

/*********************************************
		Price css
*********************************************/

.accordion-bg {
    background-image: url(../images/usluga-master-na-chas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.accordion.md-accordion.accordion-2 .card {
    background-color: rgba(2, 1, 1, 0.9);
}

.accordion.md-accordion.accordion-2 .card {
    border: 0;
}

table td {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1px;
}

/*********************************************
		Call to Actions css
*********************************************/

.cta {
    font-size: 2rem;
    font-family: inherit;
}

.browns {
    color: var(--span-color);
}

#typed2.wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

section.frame_bg {
    position: relative;
	 background-image: url('../images/remont-v-vannoy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.mt-6 {
    margin-top: 7rem !important;
}

.mt-5-5 {
    margin-top: 6.5rem;
}

.black {
    background-color: #000000c7!important;
    border: 4px #fff;
    border-style: outset;
    border-radius: 25px;
}

/*********************************************
		Counter css
*********************************************/

#counter h3 {
	color :#fdfdfd;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: .5rem;
}
.streak {
    display: block;
    position: relative;
    overflow: hidden;
}

.streak.streak-long-2 {
    height: 100%;
}

.streak.streak-photo {
    background-image: url('../images/populyarnie-uslugi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*********************************************
		Modal Window css
*********************************************/

.md-form .prefix {
    top: .25rem;
    font-size: 1.50rem;
}

/*********************************************
		Footer css
*********************************************/

.footer_bg {
    background-color: var(--text-color);
	padding-top: 3rem;
}

footer h4 {
    position: relative;
    color: #fcffff;
	text-align: center;
}

footer p {
    text-align: justify;
    color: #fcffff;
}

footer h4:after {
    position: absolute;
    content: "";
    top: 37px;
    left: 50%;
    width: 80%;
    margin-left: -40%;
    height: 1px;
    background-color: rgba(245, 177, 110, 0.3);
}

footer hr {
    background-color: rgba(254, 187, 121, 0.2);
}

.footer-copyright a:hover {
	color: rgba(245, 177, 110, 0.3);
}
.text-viber {
    color: #574E92;
}

.text-skype {
    color: #00A9E8;
}

/*****************************************
		Media Screen
*****************************************/

@media(min-width: 320px) and (max-width: 576px) {

header h2 {
    margin-top: -17%;
    margin-left:65%;
    font-size: 5vw;
	color: #F4ECDF;
	font-family: 'Gogol';
    white-space: nowrap;

}


    .navbar {


    }

    .nav-link {
        white-space: nowrap;
	    font-size: 1rem;
    }

    .navbar-toggler-icon {

    }

    }
	
	.testimonial-carousel .testimonial {
		margin-left:  15%;
		margin-right:  15%;
	}

}

@media(min-width: 577px) and (max-width: 767.8px) {

    .btn-form {
        display: none;
    }

    .h-tel {
        display: block;
    }

    .btn-orange-tel {
        display: inline;
    }

    h4.mt-5-5,
    button.mt-5-5 {
        margin: 1.5rem 0;
    }

	.h-form,
    .btn-form {
        display: none;
    }

	h2:after {
        display: none;
    }

	section.frame_bg {
        background: linear-gradient(40deg, #45cafc, #303f9f);
    }

}

@media(min-width: 768px) and (max-width: 1024px) {

    .h-tel,
    .btn-orange-tel {
        display: none;
    }

    h4.mt-5-5,
    button.mt-5-5 {
        margin: 2rem 0;
    }
}

@media(min-width: 1025px) and (max-width: 1440px) {

    .btn-form {
        display: inline-block;
    }

    .h-tel,
    .btn-orange-tel {
        display: none;
    }

    h4.mt-5-5,
    button.mt-5-5 {
        margin: 5.5rem 0;
    }
}

@media(min-width: 1441px) and (max-width: 2560px) {

    .h-tel,
    .btn-orange-tel {
        display: none;
    }

    h4.mt-5-5,
    button.mt-5-5 {
        margin: 13.5rem 0;
    }
}


@font-face {
  font-family: "Kommuna-Narrow";
  src: url("../fonts/Kommuna-Narrow.ttf");

}

@font-face {
  font-family: "Gogol";
  src: url("../fonts/gogol_regular.otf");

}

@font-face {
  font-family: "Cygre";
  src: url("../fonts/ofont.ru_Cygre.ttf");

}