@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

:root {
  --text-color: #15171d;
  --span-color: #ca5718;
}

body {
    color: var(--text-color);
    background-color: #F4ECDF;
	line-height: 1.5;
    font-size: 1rem;

}

a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
 
 a {
	 color: fefefe;
 }

section {
padding-top:50px;
}

/*********************************************
		Header css
*********************************************/

header {
	height: 98vh;
	overflow: hidden;
	position: relative;
	margin:1vh;
}

header h1 {
    padding-top: 15%;
    padding-left:2%;
    font-size: 8vw;
	color: #F4ECDF;
	font-family: 'Kommuna-Narrow';
    font-weight: 400;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 1px;
    white-space: nowrap;
}

.mleft {
    padding-left:10%;
    padding-right:25%;
    white-space: nowrap;
}

header h2 {
    margin-top: -14%;
    margin-left:70%;
    font-size: 4vw;
  	color: #F4ECDF;
	  font-family: 'Gogol';
    white-space: nowrap;
}

.bg_img {
    background-image:url(../images/headimage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.navbar {
    margin-top:0px;
    margin-left:10px;
    width: 100vw;
	height: 45px;
    border-radius: 1px;
    font-weight:bold;
}

.nav-link {
    white-space: nowrap;
	font-size: 1.3rem;

}

#navigation-menu a.mPS2id-highlight {
    background-color: rgba(255, 255, 255, 0.1);
    color: #F4ECDF;
}

.navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link {
    background-color: rgba(255, 255, 255, 0);
    color: #F4ECDF;
}

.navbar-toggler-icon {
 background: #8E9073;
}

.span-custom {
margin:-10;
}

.btn.dropdown-toggle,
.top-nav-collapse {
    background-color: #8E9073;
}

.ceneter_{
  height:70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_custom {
    width:300px;
    border-radius: 100px;
    background: #F4ECDFE5;
    backdrop-filter: blur(31.3px)
    color: black;

}

a {
    text-decoration: none!important;
	color: #F4ECDF;
}

.cta-btn:hover {
    background-color: transparent!important;
    color: #f7f3f3;
    border-color: #f7f3f3;
    transition: all 0.8s linear;
}

.space {
	padding: 1rem 1rem 1rem;
}
/*********************************************
		About me css
*********************************************/
.row_bg {
padding:15px;

}

h2.aboutme {
	font-family: 'Kommuna-Narrow';
    font-size: 5rem;
    color: #8E9073;
    white-space: nowrap;
    padding-left: 100px;
    margin-top:0px;

}

.name {
    font-size: 3.5rem;
     font-weight: bold;
	color: #F4ECDF;
	font-family: 'Gogol';
    white-space: nowrap;
    padding:3px;
    text-align:center;
}

.photoname {
    height:80vh;
    background-image:url(../images/yulia.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 45px;
}


p.aboutme {
    margin-top:50px;
    padding-right:50px;
    font-family: 'Cygre';
    font-size: 1.7rem;
    color: #3C2808;
    line-height: 34px;

}

.right_{
text-align: right;
    padding-left:50px;
        padding-top:70px;
}

.bookmark {
    background-image:url(../images/bookmark.png);
    background-repeat: no-repeat;
    background-position: 0px 22px;
}

.button_ {
    width: 300;
    height: 52;
    border-radius: 20px;
    background: #8E9073;
    backdrop-filter: blur(30px)
    font-family: 'Cygre';
    font-size: 20px;
    color: #F4ECDF;
    margin: 5px;
}

.button_contact {
    width: 300;
    height: 52;
    border-radius: 20px;
    background: #F4ECDF;
    backdrop-filter: blur(30px)
    font-family: 'Cygre';
    font-size: 20px;
    color: #3C2808;
    margin: 5px;
}

h2.photo {
	font-family: 'Kommuna-Narrow';
    font-size: 5rem;
    color: #3C2808;
    margin-top:0px;
    text-align:center;
}


.faq {

    background: #8E9073;
    border-radius: 20px;
    backdrop-filter: blur(31.3px);
    margin:5px;
    padding:2px;
    color:#F4ECDF;
    font-family: 'Kommuna-Narrow';
}

h2.faq {
    font-size:3rem
}
.answer {
    background: #8E9073;
    margin:0px;
    color:#F4ECDF;
    padding:10px;
    text-align:left;

}
.question {
    font-size: 1.7rem;
    border-radius: 15px;
    border:0;
    border-radius: 10px;
    background: #F4ECDF;
    color: #3C2808;
    padding:2px;
    margin: 10px;
    margin-left:350px;
    margin-right:350px;

}

.bg_img_price {
    background-image:url(../images/price.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

h2.price {
    font-size: 8rem;
    color:#F4ECDF;
    font-family: 'Kommuna-Narrow';
}

.price_block {
margin:10px;
padding:10px;
width: 250px;

border-radius: 8px;
background: #F4ECDF;
backdrop-filter: blur(31.3px)
color: #3C2808;
font-family: 'Cygre';
display: inline-block;
}

.ul_{
font-size: 20px;
padding:15px;
marging:15px;
list-style-type: none;

}

.price_num {
margin:5px;
padding:5px;
width: 30px;
height: 30px;
border-radius: 30px;
background: #8E9073;
backdrop-filter: blur(31.3px);
color: #F4ECDF;
font-family: 'Cygre';
font-size: 25px;

}

.footer_ {
	  font-family: 'Kommuna-Narrow';
    font-size: 4rem;
    color: #8E9073;
    white-space: nowrap;
    padding-left:50px;
    display: inline-block;

}


/*********************************************
		Modal Window css
*********************************************/

.md-form .prefix {
    top: .25rem;
    font-size: 1.50rem;
}


/*****************************************
		Media Screen
*****************************************/

@media(min-width: 320px) and (max-width: 576px) {
    header h2 {
        margin-top: -17%;
        margin-left:60%;
        font-size: 5vw;
  	    color: #F4ECDF;
	    font-family: 'Gogol';
        white-space: nowrap;
    }

    .btn_custom {
        margin-top:350px;

    }
    .navbar-nav {
        padding:5px;
        white-space: nowrap;
        background-color: #8E9073;
        border-radius: 5px;
    }

    .btn.dropdown-toggle,
    .top-nav-collapse {
        background-color: transparent;
    }

    .question {
        margin-left:20px;
        margin-right:20px;
    }
}
	

@media(min-width: 577px) and (max-width: 767.8px) {
    .btn_custom {
        margin-top:350px;
    }
    .navbar-nav {
        padding:5px;
        white-space: nowrap;
        background-color: #8E9073;
        border-radius: 5px;
    }

    .btn.dropdown-toggle,
    .top-nav-collapse {
        background-color: transparent;
    }

    .question {
        margin-left:100px;
        margin-right:100px;
    }
}

@media(min-width: 768px) and (max-width: 1024px) {
    .btn_custom {
    margin-top:350px;

    }
    .navbar-nav {
    padding:5px;
    white-space: nowrap;
    background-color: #8E9073;
    border-radius: 5px;
    }

    .btn.dropdown-toggle,
    .top-nav-collapse {
        background-color: transparent;
    }
    .question {
    margin-left:150px;
    margin-right:150px;
    }
}

@media(min-width: 1025px) and (max-width: 1440px) {
    .question {
    margin-left:150px;
    margin-right:150px;
    }
}

@media(min-width: 1441px) and (max-width: 2560px) {

}


@font-face {
  font-family: "Kommuna-Narrow";
  src: url("../fonts/Kommuna-Narrow.ttf");
}

@font-face {
  font-family: "Gogol";
  src: url("../fonts/gogol_regular.otf");
}

@font-face {
  font-family: "Cygre";
  src: url("../fonts/ofont.ru_Cygre.ttf");
}
