@charset "utf-8";
/* CSS Document */

/*------------------------------------------

Table Of Index
------------------
1. Base css
2. Header css
3. Services css
4. Price css
5. About css
6. Call to Action css
7. Text css
8. Counter css
9. Testimonials Css
10. Footer css
11. Modal Window css
12. Media Screen

------------------------------------------*/

/*********************************************
		Base css
*********************************************/

* {
    margin: 0;
    padding: 0;
}

:root {
  --text-color: #15171d;
  --span-color: #ca5718;
}

body {
    color: var(--text-color);
    background-color: #F4ECDF;
	line-height: 1.5;
    font-size: 1rem;

}

a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
 
 a {
	 color: fefefe;
 }

section {
padding-top:50px;
}

/*********************************************
		Header css
*********************************************/

header {
	height: 98vh;
	overflow: hidden;
	position: relative;
	margin:1vh;
}

header h1 {
    padding-top: 15%;
    padding-left:2%;
    font-size: 8vw;
	color: #F4ECDF;
	font-family: 'Kommuna-Narrow';
    font-weight: 400;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 1px;
    white-space: nowrap;
}

.mleft {
    padding-left:10%;
    padding-right:25%;
    white-space: nowrap;
}

header h2 {
    margin-top: -14%;
    margin-left:70%;
    font-size: 4vw;
	color: #F4ECDF;
	font-family: 'Gogol';
    white-space: nowrap;
}

.bg_img {
    background-image:url(../images/headimage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.flag {
	width: 25px;
	margin-left: 5px;
	margin-right: 5px;
}

.navbar {
    margin-top:2px;
    margin-left:2px;
    width: 60vw;
	height: 45px;
    border-radius: 100px;
    background: #F4ECDF1F;
    backdrop-filter: blur(28px);
}

.nav-link {
    white-space: nowrap;
	font-size: 1.3rem;
}

#navigation-menu a.mPS2id-highlight {
    background-color: rgba(255, 255, 255, 0.1);
    color: #F4ECDF;
}

.navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link {
    background-color: rgba(255, 255, 255, 0);
    color: #F4ECDF;
}

.span-custom {
margin:-10;
}

.btn.dropdown-toggle,
.top-nav-collapse {
    background-color: #8E9073!important;
}

.ceneter_{
  height:70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_custom {
    width:300px;
    border-radius: 100px;
    background: #F4ECDFE5;
    backdrop-filter: blur(31.3px)

}

a {
    text-decoration: none!important;
	color: #F4ECDF;
}

.cta-btn:hover {
    background-color: transparent!important;
    color: #f7f3f3;
    border-color: #f7f3f3;
    transition: all 0.8s linear;
}

.space {
	padding: 1rem 1rem 1rem;
}
/*********************************************
		About me css
*********************************************/
.row_bg {
padding:15px;

}

h2.aboutme {
	font-family: 'Kommuna-Narrow';
    font-size: 5rem;
    color: #8E9073;
    white-space: nowrap;
    padding-left: 100px;
    margin-top:0px;

}

.name {
    font-size: 3.5rem;
     font-weight: bold;
	color: #F4ECDF;
	font-family: 'Gogol';
    white-space: nowrap;
    padding:3px;
    text-align:center;
}

.photoname {
    height:80vh;
    background-image:url(../images/yulia.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 45px;
}


p.aboutme {
    margin-top:50px;
    padding-right:50px;
    font-family: 'Cygre';
    font-size: 1.7rem;
    color: #3C2808;
    line-height: 34px;

}

.right_{
text-align: right;
    padding-left:50px;
        padding-top:70px;
}

.bookmark {
    background-image:url(../images/bookmark.png);
    background-repeat: no-repeat;
    background-position: 0px 22px;
}

.button_ {
    width: 300;
    height: 52;
    border-radius: 20px;
    background: #8E9073;
    backdrop-filter: blur(30px)
    font-family: 'Cygre';
    font-size: 20px;
    color: #F4ECDF;
    margin: 5px;
}

.button_contact {
    width: 300;
    height: 52;
    border-radius: 20px;
    background: #F4ECDF;
    backdrop-filter: blur(30px)
    font-family: 'Cygre';
    font-size: 20px;
    color: #3C2808;
    margin: 5px;

}

h2.photo {
	font-family: 'Kommuna-Narrow';
    font-size: 6rem;
    color: #3C2808;
    margin-top:0px;
    text-align:center;
}




.faq {
    background: #8E9073;
    border-radius: 20px;
    backdrop-filter: blur(31.3px);
    margin:15px;
    color:#F4ECDF;
    font-family: 'Kommuna-Narrow';
}

h2.faq {
    font-size:3rem
}

.answer {
    font-size: 2rem;
    text-align:left;

}

.question {
    width:60%;
    margin:10px;
    padding:10px;
    font-size: 1.4rem;
    text-align:left;
    border-radius: 15px;
    border:0;

}

.bg_img_price {
    background-image:url(../images/price.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

h2.price {
    font-size: 8rem;
    color:#F4ECDF;
    font-family: 'Kommuna-Narrow';
}

.price_block {
margin:10px;
padding:10px;
width: 265px;
height: 222px;
border-radius: 8px;
background: #F4ECDF;
backdrop-filter: blur(31.3px)
color: #3C2808;
font-family: 'Cygre';
display: inline-block;
}

.ul_{
font-size: 20px;
padding:5px;
}

.price_num {
margin:10px;
padding:10px;
width: 30px;
height: 30px;
border-radius: 30px;
background: #8E9073;
backdrop-filter: blur(31.3px);
color: #F4ECDF;
font-family: 'Cygre';
font-size: 25px;

}

.footer_ {
	font-family: 'Kommuna-Narrow';
    font-size: 4rem;
    color: #8E9073;
    white-space: nowrap;
    padding-left:50px;
    display: inline-block;

}








































/*********************************************
		Modal Window css
*********************************************/

.md-form .prefix {
    top: .25rem;
    font-size: 1.50rem;
}

/*********************************************
		Footer css
*********************************************/

.footer_bg {
    background-color: var(--text-color);
	padding-top: 3rem;
}

footer h4 {
    position: relative;
    color: #fcffff;
	text-align: center;
}

footer p {
    text-align: justify;
    color: #fcffff;
}

footer h4:after {
    position: absolute;
    content: "";
    top: 37px;
    left: 50%;
    width: 80%;
    margin-left: -40%;
    height: 1px;
    background-color: rgba(245, 177, 110, 0.3);
}

footer hr {
    background-color: rgba(254, 187, 121, 0.2);
}

.footer-copyright a:hover {
	color: rgba(245, 177, 110, 0.3);
}
.text-viber {
    color: #574E92;
}

.text-skype {
    color: #00A9E8;
}

/*****************************************
		Media Screen
*****************************************/

@media(min-width: 320px) and (max-width: 576px) {

header h2 {
    margin-top: -17%;
    margin-left:65%;
    font-size: 5vw;
	color: #F4ECDF;
	font-family: 'Gogol';
    white-space: nowrap;

}


    .navbar {


    }

    .nav-link {
        white-space: nowrap;
	    font-size: 1rem;
    }

    .navbar-toggler-icon {

    }

    }
	
	.testimonial-carousel .testimonial {
		margin-left:  15%;
		margin-right:  15%;
	}

}

@media(min-width: 577px) and (max-width: 767.8px) {

    .btn-form {
        display: none;
    }

    .h-tel {
        display: block;
    }

    .btn-orange-tel {
        display: inline;
    }

    h4.mt-5-5,
    button.mt-5-5 {
        margin: 1.5rem 0;
    }

	.h-form,
    .btn-form {
        display: none;
    }

	h2:after {
        display: none;
    }

	section.frame_bg {
        background: linear-gradient(40deg, #45cafc, #303f9f);
    }

}

@media(min-width: 768px) and (max-width: 1024px) {

    .h-tel,
    .btn-orange-tel {
        display: none;
    }

    h4.mt-5-5,
    button.mt-5-5 {
        margin: 2rem 0;
    }
}

@media(min-width: 1025px) and (max-width: 1440px) {

    .btn-form {
        display: inline-block;
    }

    .h-tel,
    .btn-orange-tel {
        display: none;
    }

    h4.mt-5-5,
    button.mt-5-5 {
        margin: 5.5rem 0;
    }
}

@media(min-width: 1441px) and (max-width: 2560px) {

    .h-tel,
    .btn-orange-tel {
        display: none;
    }

    h4.mt-5-5,
    button.mt-5-5 {
        margin: 13.5rem 0;
    }
}


@font-face {
  font-family: "Kommuna-Narrow";
  src: url("../fonts/Kommuna-Narrow.ttf");

}

@font-face {
  font-family: "Gogol";
  src: url("../fonts/gogol_regular.otf");

}

@font-face {
  font-family: "Cygre";
  src: url("../fonts/ofont.ru_Cygre.ttf");

}